################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SwitcherUi/bin/Debug
/SwitcherUi/obj/Debug
/test.ini
/switcher.cfg
/IniFile.cs
/.vs/SwitcherUi/v14
