<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISwitchingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SwitcherLibrary/SwitchingService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISwitchingService"
                contract="ServiceReference1.ISwitchingService" name="BasicHttpBinding_ISwitchingService" />
        </client>
    </system.serviceModel>
</configuration>